# haskell
*~
*#*
*.tmp
*.tar

csapp/**/*.pdf
csapp/**/*lab-handout

# CABAL
/dist
/cabal-dev
/.cabal-sandbox
/cabal.sandbox.config

# darcs
/_darcs

# ctags
TAGS
tags

*.swp
*.o
*.a
*.out
*.bak

# Stack
.stack-work/

# cargo
target/

.ipynb_checkpoints
__pycache__
